<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVenueRegistrationLoginService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13492/VenueRegistrationLoginService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVenueRegistrationLoginService"
                contract="VenueRegLog.IVenueRegistrationLoginService" name="BasicHttpBinding_IVenueRegistrationLoginService" />
        </client>
    </system.serviceModel>
</configuration>
